.bag-subtotal
  display flex
  margin $space-lg 0
  padding 0 20px

.bag-subtotal-label
  display flex
  width 50%
  justify-content flex-start
  align-items center
  text-transform uppercase
  font-weight 500
  font-size 14px
  color $light-grey

.bag-subtotal-prices
  width 50%

.bag-subtotal-price
  display block
  margin-bottom 5px
  text-align right
  color $primary-color
  font-size 24px
  font-weight 700
  span
    font-weight 500
.bag-subtotal-installments-price
  display block
  text-align right
  color $light-grey
  text-transform uppercase
  font-size 12px
  font-weight 500
